@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    --background-color: #FBFBFB;
    --green-background-color: #153E52;
    --dark-green-color: #113448;
    --light-green-color: #14BF98;
    --dark-gray-color: #484A46;
    --light-gray-color: #787976;
    --white-color: #FFFFFF;
    --disable-color: #E9ECEF;
    --dark-white-color: #DFESEC;
    --light-grey-border-color: #EBE8E8;
    --form-input-color: #2A5D77;
    --form-input-border-color: #39728F;


    --image-contrast: 60%;
    --image-grayscale: 25%;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6,p,a,span,button,li {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    align-items: center;
    color: var(--white-color);
    z-index: 100;
    backdrop-filter: blur(10px) grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
   /* background: rgba(0,0,0,0.2); */
   background-color: var(--dark-green-color);
}

 nav .fa-solid
{
    
    font-size: 40px;
    
   
} 
nav .top
{
    width: 60px;
    display: flex;
    font-size: 3rem;
    gap: 1rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    z-index: 100;
   align-items: center;
    letter-spacing: 1.5px;
}

nav .mobile-menu {
    display: none;
}

nav a {

    text-decoration: none;
    color: var(--white-color);
    transition: color 0.125s ease-in-out;
}

nav a:hover {

    color: var(--light-green-color);

}

nav:visited {
    color: var(--white-color);
}

nav img {
    height: 3.4rem;
    color: var(--white-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;



}

nav ul .icon {
    background-color: var(--light-green-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);


}

nav ul .icon:hover {
    background-color: var(--white-color);

}

nav ul .icon:hover a {
    color: var(--light-green-color);
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(assets/homebg3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    gap: 1rem;
}

.home h1 {
    text-transform: uppercase;
    font-size: 4rem;
    padding: 0.2rem 0;
}

.home p {
    font-size: 1.5rem;
    width: 50%;
}

button {
    cursor: pointer;
    border: 1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.125 ease-in-out;
    font-weight: 700;
    letter-spacing: 0.3ch;
    font-size: 0.75rem;

}

button:hover {
    background-color: transparent;
    color: var(--light-green-color);
}

.section-title {
    color: var(--light-green-color);
    text-transform: uppercase;
    padding: 0.5rem 0rem;
}

.italic {
    font-style: italic;

}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.green-text {
    color: var(--light-green-color);
}

.intro {
    padding: 5rem 20vw;
    background-color: var(--white-color);
}

.intro .content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.intro .content .text {
    width: 40%;
    flex-shrink: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}

.intro .content .image-container {
    width: 60%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;

}

.intro .content img {

    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.5 ease-in-out;

}

.intro .content img:hover {
    transform: scale(1.5);
}

.intro .content .text h3 {
    color: var(--dark-gray-color);
    font-size: 2rem;
}

.intro .content .text h4 {
    color: var(--dark-gray-color);
    line-height: 1.5rem;

}

.intro .content .text p {
    color: var(--light-gray-color);
    font-weight: 400;
    line-height: 1.5rem;

}

.intro .skill-list-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.intro .skill-list-container .skill-item {
    width: 30%;
    line-height: 1.5rem;
}

.intro .skill-list-container .skill-item span {
    background-color: var(--light-green-color);
    padding: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--white-color);
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: inline-block;
    margin-bottom: 1rem;



}

.intro .skill-list-container .skill-item h4 {

    font-size: 1.5rem;
    color: var(--dark-gray-color);
}

.intro .skill-list-container .skill-item p {
    color: var(--light-gray-color);
}

.services {
    padding: 5rem 0rem;
    background-color: var(--background-color);

}

.services>span {
    display: block;
    text-align: center;

}

.services>h3 {

    text-align: center;
    font-size: 1.75rem;
    color: var(--dark-gray-color);
}

.services .service-list-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem 20rem;
    align-items: start;


}

.services .service-list-container .service-item {
    width: 30%;
    height: 37.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-grey-border-color);
    border-radius: 5px;
    background-color: var(--white-color);
}

.services .service-item img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    object-position: center;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    border-radius: 5px 5px 0 0;
}

.services .service-item h4 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray-color);
    padding: 1rem;
}

.services .service-item p {
    line-height: 1.5rem;
    color: var(--light-gray-color);
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
}

.services .service-item ul {
    line-height: 1.5rem;
    color: var(--light-gray-color);
    padding: 0.5rem 2rem;
    list-style: none;
}

.services .service-item ul li::before {
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.services .service-item h6 {
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-align: center;
    padding: 0rem 2rem 0.6rem 2rem;
}

.services .service-item button {
    /* position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50% ,0); */
    margin: 2rem 4.7rem;


}

.services .service-item button:hover {
    background-color: var(--white-color);
}

.services .service-item .price {
    color: var(--light-green-color);
}

.services .propositions {
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.services .propositions img {
    width: 50%;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    object-fit: cover;
    object-position: center;
    min-height: 35rem;
}

.services .propositions .content {

    box-sizing: border-box;
    width: 50%;
    flex-shrink: 0;

}

.services .proposition-1 .content {


    padding: 5rem 20vw 5rem 5rem;
    box-sizing: border-box;
}

.services .proposition-1 h4 {
    color: var(--dark-gray-color);
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.125s ease-in-out;
}

.services .proposition-1 p {
    padding-left: 3rem;
}

.services .proposition-1 h4 span {
    border-radius: 50%;
    padding: 0 0.5rem;
    border: 2px solid var(--dark-gray-color);
    color: var(--dark-gray-colorr);
    margin-right: 0.5rem;
    transition: all 0.125 ease-in-out;
}

.services .proposition-1 h4:hover span {
    color: var(--light-green-color);
    border: 2px solid var(--light-green-color);

}

.services .proposition-1 h4.active span {
    background-color: var(--light-green-color);
    border: 2px solid var(--light-green-color);
    color: var(--white-color);
}

.services .proposition-1 h4.active,
.services .proposition-1 h4:hover {
    color: var(--light-green-color);
}



.services .proposition-2 .content {

    padding: 5rem 5rem 5rem 20vw;
}

.services .proposition-2 .category-list-container {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.services .proposition-2 .category-item h3 {
    color: var(--light-gray-color);
    transition: color 0.125s ease-in-out;
    cursor: pointer;
    

}

.services .proposition-2 .category-item.active h3,
.services .proposition-2 .category-item:hover h3 {
    color: var(--light-green-color);
}

.services .proposition-2 .skill-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.services .proposition-2 .skill-item h6 {
    color: var(--dark-gray-color);
    font-size: 1rem;

}

.services .proposition-2 .skill-item .progress-bar {
    height: 1.5rem;
    background-color: var(--light-green-color);
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 0%;
}

.services .proposition-2 .skill-item .progress-bar.p-100 {
    width: 100%;
}

.services .proposition-2 .skill-item .progress-bar.p-76 {
    width: 76%;
}

.services .proposition-2 .skill-item .progress-bar.p-90 {
    width: 90%;
}





.services .propositions h3 {
    font-size: 1.4rem;
    color: var(--dark-gray-color);
}

.services .propositions p {
    line-height: 1.5rem;
    color: var(--light-gray-color);
}

.services .testimonials {
    padding: 5rem 20vw;
}

.services .testimonials h3 {
    text-align: center;
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.services .testimonials p {
    color: var(--light-gray-color);
    text-align: center;


}

.services .testimonials-list-container {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    overflow-x: scroll;
    padding: 3rem 0;
}

.services .testimonials-item {
    width: 25%;
    display: flex;
    gap: 1rem;

    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.services .testimonials-item img {
    width: 6rem;
    border-radius: 50%;
}

.services .testimonials-item p {
    line-height: 1.5rem;
    color: var(--light-gray-color);
}

.services .testimonials-item h4 {
    color: var(--dark-gray-color);
}

.call_me {
    padding: 5rem 20vw;
    background-color: var(--green-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call_me .content,
.call_me .form {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--white-color);
}

.call_me .content h3 {
    font-size: 1.75rem;
}

.call_me .content p {
    line-height: 1.5rem;
    color: var(--light-grey-border-color);
}

.call_me .content ul {
    padding: 0;
    list-style: none;
}

.call_me .content ul li::before {
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.call_me form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.call_me form .terms-container label {
    color: var(--light-grey-border-color);
}

.call_me form input,
.call_me select {
    background-color: var(--form-input-color);
    color: var(--white-color);
    border: 1px solid var(--form-input-border-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;

}

.projects {
    padding: 5rem 20vw;
    background-color: var(--white-color);
}

.projects>span,
.projects>h3 {
    display: block;
    text-align: center;

}

.projects>h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.projects .category-list-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-x: scroll;
    padding: 3rem 0 1rem;
    list-style: none;

}

.projects .category-list-container ul button {
    background-color: var(--light-grey-border-color);
    color: var(--dark-gray-color);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
}

.projects .category-list-container ul button:hover,
.projects .category-list-container ul button.active {
    background-color: var(--light-green-color);
    color: var(--white-color);
}

.projects .project-list-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;


}

.projects .project-list-container .project-item {
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    transition: transform 0.125s ease-in-out;


}

.projects .project-list-container h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: opacity 0.125s ease-in-out;
    font-size: 1.5rem;
    color: var(--white-color);
    opacity: 0;

}

.projects .project-list-container .project-item-container {
    overflow: hidden;
    position: relative;
}

.projects .project-list-container .project-item:hover {
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));
    transform: scale(1.5);
}

.projects .project-list-container .project-item:hover ~ h3 , .projects .project-item-container .project-item
{
    opacity: 1;
}

.projects .project-item.p-1 {
    background-image: url('./assets/project_1.jpg');
}

.projects .project-item.p-2 {
    background-image: url('./assets/project_2.jpg');
}

.projects .project-item.p-3 {
    background-image: url('./assets/project_3.jpg');
}

.projects .project-item.p-4 {
    background-image: url('./assets/project_4.jpg');
}

.projects .project-item.p-5 {
    background-image: url('./assets/project_five.jpg');
}

.projects .project-item.p-6 {
    background-image: url('./assets/project_6.jpg');
}

.projects .project-item.p-7 {
    background-image: url('./assets/project_7.jpg');
}

.projects .project-item.p-8 {
    background-image: url('./assets/project_8.jpg');
}

.team {
    padding: 5rem 20vw;
    background-color: var(--background-color);
}

.team>h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
    text-align: center;
}

.team>p {
    line-height: 1.5rem;
    color: var(--light-gray-color);
    text-align: center;
}

.team .team-member-list-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem 0;
}

.team .team-member-list-container .team-member-item {
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.team .team-menber-item .profile-picture {
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    margin-bottom: 1rem;
    overflow: hidden;


}

.team .team-menber-item .profile-picture img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: tranform 0.25s ease-in-out;
}

.team .team-menber-item .profile-picture img:hover {
    transform: scale(1.25);
}

.team .team-menber-item p {
    color: var(--light-gray-color);
    line-height: 1.5rem;
}

.team .team-menber-item h5 {
    color: var(--dark-gray-color);
    font-size: 1.15rem;
}

.team .team-menber-item .social-links {
    margin-top: 1rem;
}

.team .team-menber-item .social-links span {
    background-color: var(--light-green-color);
    padding: 0.75rem;
    cursor: pointer;
    color: var(--white-color);
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);


}

.team .team-menber-item .social-links span:hover {
    background-color: var(--white-color);
    color: var(--light-green-color);

}

.about {
    padding: 5rem 20vw;
    background-color: var(--white-color);
    display: flex;
}

.about>img {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));

}

.about>.content {
    width: 50%;
    flex-direction: column;
    padding-left: 3rem;
}

.about .content h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.about .content p {
    line-height: 1.5rem;
    color: var(--light-gray-color);
}

.about .content ul {
    color: var(--light-gray-color);
    list-style: none;

}

.about .content ul li::before {
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.about .content .stat-list-container {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;




}

.about .stat-list-container .stats-item {
    margin-right: 3rem;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;




}

.about .stats-item .number {
    color: var(--light-green-color);
    font-size: 2.5rem;
    font-weight: 700;

}

.contact {
    padding: 5rem 20vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .content {

    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;


}

.contact .form {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;

}



.contact .content h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.contact .content p {
    color: var(--light-gray-color);
    line-height: 1.5rem;
}

.contact .content p i {
    color: var(--light-green-color);
    margin: 0 0.5rem;
}

.contact .content .contact-info-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact .content .contact-info-list-container h4 {
    color: var(--dark-gray-color);
    font-size: 1.5rem;
}

.contact .content .social-links-list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.contact .social-links-list-container span {
    background-color: var(--light-green-color);
    color: var(--white-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    transition: all 0.125s ease-in-out;



}

.contact .social-links-list-container span:hover {
    background-color: var(--white-color);
    color: var(--light-green-color);

}

.contact .form form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
}

.contact input,
.contact textarea {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-grey-border-color);
    background-color: var(--white-color);
    color: var(--dark-gray-color);
}

.contact form label {
    color: var(--dark-gray-color);
}

footer {
    padding: 5rem 20vw;
    background-color: var(--dark-green-color);
    color: var(--white-color);
}

footer .footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer-list-container .footer-item.wide {
    width: 50%;
    flex-grow: 0;
    flex-wrap: 0;
}

footer .footer-list-container .footer-item {
    width: 15%;
    flex-grow: 0;
    flex-wrap: 0;
}

footer .footer-list-container h5 {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
}

footer a {
    display: block;
}

footer .footer-list-container p {

    line-height: 1.5rem;
    color: var(--dark-white-color);
}

footer a,
footer a:visited {
    color: var(--dark-white-color);
    line-height: 2rem;
}

footer .copyright {
    padding-top: 3rem;
    color: var(--dark-white-color);
    text-align: center;
    list-style: 1.5rem;

}

@media screen and (max-width: 950px) {
    .services .service-list-container .service-item {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .services .service-list-container {
        flex-direction: column;
        gap: 5rem;

    }

    .about .stat-list-container .stats-item {
        flex-wrap: wrap;
    }

    footer .footer-list-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }



    footer .footer-list-container .footer-item.wide {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    footer .footer-list-container .footer-item {
        width: 25%;
        flex-shrink: 0;
        flex-grow: 0;
    }


}

@media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }

    nav .mobile-menu {
        display: initial;
    }

    .intro .content,
    .intro .skill-list-container {
        flex-wrap: wrap;
    }

    .intro .content .text,
    .intro .content .image-container,
    .intro .skill-list-container .skill-item {
        width: 100%;
        padding: 0;
    }

    .intro .skill-list-container .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem 0rem;
    }

    .services .testimonials-item {
        width: 40%;
    }

    .services .propositions {

        flex-direction: column;


    }

    .services .propositions.proposition-2 {
        flex-direction: column-reverse;
    }

    .services .propositions img,
    .services .propositions .content {
        width: 100%;

    }

    .services .proposition .content {
        padding: 5rem;
    }

    .call_me .content,
    .call_me .form {
        width: 100%;
    }

    .call_me {
        flex-direction: column;
        gap: 3rem;
    }

    .projects .project-list-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .team .team-member-list-container .team-member-item {
        width: 40%;

    }

    .team .team-member-list-container {


        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .about>img,
    .about>.content {
        width: 100%;
        padding: 0;
    }

    .about {
        flex-direction: column;
        gap: 3rem;
    }

    .contact .content,
    .contact .form {
        width: 100%;

    }

    .contact {
        flex-direction: column;
        gap: 3rem;
    }

}


@media screen and (max-width: 600px) {
    .services .testimonials-item {
        width: 65%;
    }
}

@media screen and (max-width: 650px) {
    footer .footer-list-container .footer-item {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }
}